# [gcode_shell_command hello_world]
# command: echo hello world
# timeout: 2.
# verbose: True
# [gcode_macro HELLO_WORLD]
# gcode:
#     RUN_SHELL_COMMAND CMD=hello_world

# 定义 shell_cmd 命令 【执行关机操作】
[gcode_shell_command poweroff_host]
command: shutdown now

[gcode_macro POWEROFF]
gcode:
    RUN_SHELL_COMMAND CMD=poweroff_host

