[gcode_macro SET_MY_TIMTELAPSE]
gcode:
  _SET_TIMELAPSE_SETUP ENABLE=true PARK_ENABLE=true FW_RETRACT=true PARK_POS=custom PARK_TIME=1.0 CUSTOM_POS_X=300 CUSTOM_POS_Y=150 CUSTOM_POS_DZ=3 TRAVEL_SPEED=100 RETRACT_DISTANCE=3.0 EXTRUDE_DISTANCE=3.0 RETRACT_SPEED=30

[gcode_macro PRINT_END]
gcode:
  TURN_OFF_HEATERS
  {% set end_pos_z = printer.gcode_move.gcode_position.z+5 %}
  {% if end_pos_z <= printer.toolhead.axis_maximum.z %}
    G1 F600 Z{end_pos_z}
  {% endif %}
  G28 X Y
  M106 S0

[delayed_gcode _report_led]
initial_duration: 0.4
gcode:
  {% set var = printer['extruder'].temperature %}
  {% set led_r=0.0 %}
  {% set led_g=0.0 %}
  {% set led_b=0.0 %}
  {% if var<=30 %}
    {% set led_b=0.5 %}
  {% elif var<=80 %}  # R:50/(80-30)=1.0
    {% set led_r=((var-30)*0.01) | round(2) %}
    {% set led_b=0.5 %}
  {% elif var<=180 %} # B:50/(180-80)=0.5
    {% set led_r=0.5 %}
    {% set led_b=(0.5-(var-60)*0.005) | round(2) %}
    {% if led_b<0 %} {% set led_b=0.0 %} {% endif %}
  {% elif var<=220 %} # RG:50/(220-180)=1.25
    {% set led_r=0.5 %}
    {% set led_g=((var-180)*0.0125) | round(2) %}
  {% elif var<=260 %} # B:50/(260-220)=1.25
    {% set led_r=0.5 %}
    {% set led_g=0.5 %}
    {% set led_b=((var-220)*0.0125) | round(2) %}
  {% elif var<=300 %} # RGB:50/(300-260)=1.25
    {% set led_r=0.5+(((var-260)*0.0125) | round(2)) %}
    {% set led_g=0.5+(((var-260)*0.0125) | round(2)) %}
    {% set led_b=0.5+(((var-260)*0.0125) | round(2)) %}
  {% else %}
    {% set led_r=1.0 %}
    {% set led_g=1.0 %}
    {% set led_b=1.0 %}
  {% endif %}
  SET_LED LED="F4Z_RGB" RED={led_r} GREEN={led_g} BLUE={led_b} SYNC=0 TRANSMIT=1
  # M118 T:{var} R:{led_r} G:{led_g} B:{led_b}
  UPDATE_DELAYED_GCODE ID=_report_led DURATION=0.5


[delayed_gcode my_delayed_gcode]
gcode:
  BED_MESH_PROFILE LOAD="default"
initial_duration:1.0

[delayed_gcode _delayed_init_timelapse]
initial_duration:1.6
gcode:
  SET_MY_TIMTELAPSE

# [gcode_macro REPORT_MYLED]
# gcode:
#   {% set var=printer['extruder'].temperature %}
# #   # {% if }
# #   # SET_LED LED="RGB" RED=0.9804 GREEN=0.9804 BLUE=0.9804 SYNC=0 TRANSMIT=1
#   M118 {var}
